/* --- General styles --- */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  font-family: "Barlow", sans-serif;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h2 {
  font-family: "Teko", sans-serif;
}

code {
  font-family: monospace;
  font-size: 1em;
}

.secondary-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 1em 0;
}
