/* --- General styles --- */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  font-family: "Barlow", sans-serif;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h2 {
  font-family: "Teko", sans-serif;
}
