/* --- Variables --- */
$primary-color: #fff;
$secondary-color: #000;
$bondie-blue: #0097a7;
$blizzard-blue: #b2ebf2;
$robins-egg-blue: #00bcd4;
$lynch: #607d8b;
$silver: #bdbdbd;
$boulder: #757575;

$numbers: "1" "2" "3" "4" "5" "6";
